*{
  box-sizing: border-box;
}
 p{
   margin: 0;
   padding: 0;
 }

 nav{
   display: flex;
   width: 100%;
 }

.App{
  position: relative;
  width: 100%;
}

.logo{
  width: 100%
}

 ul{
   list-style: none;
  padding-inline-start: 0px
  ;
 }

 ul li{
   display: inline-block;
   width: 50%;
   text-align: center;
 }

 ul li a{
   text-decoration: none;
   color:#FFCB05;
 }

 .menu{
   background-color: #3860AA;
   position: fixed;
   bottom: 0;
   width: 100%;
  font-weight: 600
 }












/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
